body {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.seat {
  background-color: #444451;
  height: 15px;
  width: 15px;
  margin: 3px;
  border-radius: 5px;
}

.seat.selected {
  background-color: #f6eb6f;
}

.seat.reserved {
  background-color: #fff;
}

.seat:not(.reserved, .select-info, .empty):hover {
  cursor: pointer;
  transform: scale(1.3);
}

.seat:nth-of-type(2) {
  margin-right: 20px;
}

.seat:nth-last-of-type(2) {
  margin-left: 20px;
}
.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 50px;
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 3px 8px rgba(255, 255, 255, 0.7);
  color: black;
  text-align: center;
}

.movie-list {
  margin: 20px 0;
}

.info {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  color: #777;
  display: flex;
  cursor: default;
}
.info li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

p.text span {
  color: #f6eb6f;
}
p.text {
  cursor: default;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
}

#snackbar.show {
  visibility: visible;
}
